.header
    .header-candles
    .container
        .header-main
            .header-logo
            .header-text
                h1.main-title.header-title 
                    span Get $10,000
                    br
                    |on demo trading
                    |account
                p.header-tagline.main-text
                    |Test Forex trading in the real market environment
                a(href="#").btn.header-btn GET STARTED
            .header-man
                .header-cow